            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;

            }
            
            body {
                height: 100vh;
                display: flex;
                background-image: url("images/bulgaria.jpg");
                background-repeat: no-repeat;
                background-size: cover;
            }
            
            .gameContainer {
                width: 3000px;
                height: 1600px;
                display: flex;
                flex-wrap: wrap;
                margin: auto;
                perspective: 1000px;
            }

            .memory-card {
                width: calc(25% - 10px);
                height: calc(25% - 10px);
                position: relative;
                margin: 5px;
                transform: scale(1);
                transform-style: preserve-3d;
                transition: transform .8s;

            }

            .memory-card:active {
                transform: scale(0.93);
                transition: transform .1s;
            }

            .memory-card.flip {
                transform: rotateY(180deg);
                transition: transform .5s;
            }
            
            .front-face,
            .back-face {
                border-radius: 20%;
                height: 100%;
                width: 100%;
                position: absolute;
                padding: 20px;
                backface-visibility: hidden;
            }
            
            .back-face {
                transform: rotateY(180deg);
            }
